<!DOCTYPE html>
<html>

<head>
  <title>
    Banco de Dados - TP 2
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Banco de Dados - TP 2</h1>
  <p>Welcome to
    <%= title %>
  </p>
</body>

</html>